* {
	margin: 10px;
	font-family: helvetica;
	color: white;
	background: url(http://www.jackiejohnston.us/iceharbor/bg-body.jpg)
}

footer {
	text-align: center;
}

#button {
	border: 2px solid black;
	border-width: 6px;
	padding: 2px;
	width: 60px;
}

.QandA {
	font-family: Comic Sans MS;
	background-color: black;
	padding: 5px;
}